import subprocess
import os
import requests
from datetime import datetime


APPROLE_FILE = "/etc/vault.d/vaultbackup-approle.json"
with open(APPROLE_FILE, 'r') as f:
    data = json.load(f)


VAULT_ADDR = '{{backup_domain_address}}'
ROLE_ID = 'data["ROLE_ID"]'
SECRET_ID = 'data["SECRET_ID"]'
SNAPSHOT_DIR = "/backup/vault-backup"
TARGET_SERVER = "{{dr_target_server}}"
TARGET_SNAPSHOT_DIR = "{{backup_path}}"
UNSEAL_KEYS_FILE = "/etc/vault.d/keys.txt"
UNSEAL_TARGET_SERVERS = {{ unseal_servers | to_json }}
SSH_USER = "root"

def get_vault_token():
    """Vault AppRole kullanarak oturum açar ve bir token döndürür."""
    url = f"{VAULT_ADDR}/v1/auth/approle/login"
    payload = {
        'role_id': ROLE_ID,
        'secret_id': SECRET_ID
    }
    response = requests.post(url, json=payload)
    response.raise_for_status()
    return response.json()['auth']['client_token']

def take_snapshot(token):
    """Verilen token ile Vault snapshot alır."""
    headers = {'X-Vault-Token': token}
    url = f"{VAULT_ADDR}/v1/sys/storage/raft/snapshot"
    response = requests.get(url, headers=headers, stream=True)
    response.raise_for_status()
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    snapshot_filename = f'vault_snapshot_{timestamp}.snap'
    snapshot_path = os.path.join(SNAPSHOT_DIR, snapshot_filename)
    with open(snapshot_path, 'wb') as f:
        for chunk in response.iter_content(chunk_size=8192):
            f.write(chunk)
    return snapshot_path

def scp_file(local_path, remote_path, hostname):
    """Dosyayı SCP ile başka bir sunucuya kopyalar."""
    scp_cmd = f"scp {local_path} {SSH_USER}@{hostname}:{remote_path}"
    result = subprocess.run(scp_cmd, shell=True)
    if result.returncode != 0:
        raise Exception("Hata: Snapshot hedef sunucuya kopyalanamadi.")

def ssh_command(hostname, command):
    """SSH üzerinden komut çalıştırır."""
    ssh_cmd = f"ssh {SSH_USER}@{hostname} \" export VAULT_SKIP_VERIFY=1 && {command}\""
    result = subprocess.run(ssh_cmd, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
    if result.returncode != 0:
        raise Exception(f"Hata: {result.stderr.strip()}")
    return result.stdout.strip()

def unseal_vaults(servers):
    """Birden fazla sunucuda Vault'u unseal eder."""
    with open(UNSEAL_KEYS_FILE, 'r') as file:
        unseal_keys = [key.strip() for key in file.readlines()]
    
    for server in servers:
        print(f"Unsealing Vault on {server}...")
        for key in unseal_keys:
            command = f"vault operator unseal {key}"
            try:
                print(ssh_command(server, command))
            except Exception as e:
                print(f"Hata: Vault on {server} unseal işlemi başarısız: {e}")
                continue
        
        status_command = "vault status | grep 'Sealed: false'"
        try:
            result = ssh_command(server, status_command)
            if "Sealed: false" in result:
                print(f"Vault on {server} başarıyla unsealed.")
            else:
                print(f"Uyarı: Vault on {server} hala sealed durumda.")
        except Exception as e:
            print(f"Hata: Vault on {server} durum kontrolü başarısız: {e}")

try:
    token = get_vault_token()
    snapshot_path = take_snapshot(token)
    scp_file(snapshot_path, TARGET_SNAPSHOT_DIR, TARGET_SERVER)
    restore_command = f"vault operator raft snapshot restore -force --tls-skip-verify {TARGET_SNAPSHOT_DIR}/{os.path.basename(snapshot_path)}"
    ssh_command(TARGET_SERVER, restore_command)
    unseal_vaults(UNSEAL_TARGET_SERVERS)
    print("Vault işlemleri başarıyla tamamlandı.")
except Exception as e:
    print(str(e))